.headline {
    position: absolute;
    width: 602px;
    height: 94px;
    left: 418px;
    top: 120px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-align: center;

    color: #000000;
}
